<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Database Connection -->
        <property name="hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>

        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/teluskodb
        </property>

        <property name="hibernate.connection.username">
            root
        </property>

        <property name="hibernate.connection.password">
            admin
        </property>

        <!-- SQL Dialect -->
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>

        <!-- Show SQL in Console -->
        <property name="hibernate.show_sql">
            true
        </property>

        <!-- Format SQL -->
        <property name="hibernate.format_sql">
            true
        </property>

        <!-- Automatically create/update tables -->
        <property name="hibernate.hbm2ddl.auto">
            update
        </property>
        
        <!-- These properties are used to enable Hibernate's Second-Level Cache
        	works with Hibernate 5.x (using the hibernate-ehcache integration).
        	Hibernate 6/7 use JCache instead. -->
        <property name="hibernate.cache.region.factory_class">
        		org.hibernate.cache.ehcache.EhCacheRegionFactory
        </property>
        
        <property name="hibernate.cache.use_second_level_cache">
        	true
        </property>

        <!-- Entity Classes -->
        <!-- <mapping class="com.telusko.model.Student"/> -->

    </session-factory>
</hibernate-configuration>